---
import { Icon } from "astro-icon/components";
import { projects } from "@/data.json";
import ButtonNeutral from "@components/shared/button/ButtonNeutral.astro";
import ButtonPrimary from "@components/shared/button/ButtonPrimary.astro";
import Card from "@components/shared/layout/Card.astro";
import Heading2 from "@components/shared/text/Heading2.astro";
import Heading3 from "@components/shared/text/Heading3.astro";
import IconAstro from "@/components/icons/IconAstro.astro";
import ProjectImage from "@components/section/Projects/ProjectImage.astro";
import Section from "@components/shared/layout/Section.astro";
import ButtonSecondary from "@/components/shared/button/ButtonSecondary.astro";
---

<Section id="projects">
	<Heading2 content="Proyectos" />
	<ul class="flex flex-wrap gap-10 *:flex-shrink *:flex-grow *:basis-96">
		{
			projects.map((project) => (
				<li class="indicator w-full">
					{project.isActive && (
						<span class="badge indicator-item badge-success badge-md indicator-center indicator-top rounded font-semibold">
							Activo
						</span>
					)}
					<Card>
						<ProjectImage
							src={project["img-webp"]}
							alt={project.name}
							slot="card-img"
						/>
						<div slot="card-body" class="flex h-full flex-col">
							<div class="mb-4 flex-grow space-y-2">
								<Heading3 content={project.name} />
								<p>{project.description}</p>
								<ul class="flex flex-wrap items-start gap-3">
									{project.stack.map((skill) => {
										const size = 30;
										const icon = skill
											.toLowerCase()
											.replace(/ /g, "");
										const isAstro = icon === "astro";

										return isAstro ? (
											<li>
												<IconAstro size={size} />
											</li>
										) : (
											<li>
												<Icon
													name={`devicon:${icon}`}
													class="drop-shadow-[0px_2px_2px_rgba(0,0,0,0.2)]"
													size={size}
												/>
											</li>
										);
									})}
								</ul>
							</div>
							<div class="card-actions justify-end">
								<ButtonSecondary
									content="Repositorio"
									href={project.repository}
									label={`Repositorio ${project.name}`}
								>
									<Icon
										name="ri:code-s-slash-fill"
										slot={"icon"}
									/>
								</ButtonSecondary>
								<ButtonPrimary
									content="Deploy"
									href={project.deploy}
									label={`Deploy ${project.name}`}
								>
									<Icon
										name="ri:external-link-fill"
										slot={"icon"}
									/>
								</ButtonPrimary>
							</div>
						</div>
					</Card>
				</li>
			))
		}
	</ul>
</Section>
