---
import { basics } from "@/data.json";
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";
import ButtonPrimary from "@/components/shared/button/ButtonPrimary.astro";
import EmailCopy from "@components/shared/EmailCopy.astro";
import Heading1 from "@/components/shared/text/Heading1.astro";
import profilePicture from "@/assets/profile.webp";
---

<section class="hero my-20">
	<section class="hero-content text-center">
		<section class="w-full md:flex md:flex-row">
			<div class="avatar mb-4 md:m-0 md:items-center">
				<div
					class="mx-auto w-1/2 rounded-full ring ring-neutral ring-offset-2 ring-offset-base-100 md:w-3/4"
				>
					<Picture
						src={profilePicture}
						formats={["webp", "avif"]}
						alt={basics.name}
						class={"aspect-square"}
						loading={"eager"}
					/>
				</div>
			</div>
			<div class="md:text-left">
				<article>
					<Heading1 content={basics.name} />
					{
						basics.available === true && (
							<span class="badge badge-success badge-lg rounded p-3 font-semibold">
								Disponible para trabajar
							</span>
						)
					}
					<p class="my-4 text-balance">
						{basics.label}
					</p>
				</article>
				<article
					class="flex flex-grow flex-wrap items-center justify-center gap-2 md:justify-start"
				>
					<EmailCopy />
					<div class="space-x-2">
						{
							basics.profiles.map((profile) => (
								<ButtonPrimary
									href={profile.url}
									label={`Ir a ${profile.network}`}
								>
									<Icon name={profile.icon} slot="icon" />
								</ButtonPrimary>
							))
						}
					</div>
				</article>
			</div>
		</section>
	</section>
</section>
